<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="shortcut icon" type="image/x-icon" href="http://localhost:3000/images/mint.png">

    <link rel="stylesheet" href="http://localhost:3000/stylesheets/style.css">
    <style>
        /*body {
  background-image: url('http://localhost:3000/images/logo.png');
  background-repeat: no-repeat;
  background-position: center top;
  position: relative;

}*/
    </style>
</head>
<div class="img-with-text">
    <img src="http://localhost:3000/images/logo.png" alt="sometext" />

    <body>
        <form method="post">
            <input  type="text" name="username" placeholder="Enter Username">
            <br>
            <br>
            <input type="password" name="password" placeholder="Enter Password">
            <br>
            <br>
            <input style="color: white; cursor:pointer;" type="submit" name="login" value="Login">
            <br><br>

</div>


</form>


<h2>Registration Options:</h2>
<button style = "color: white; padding:5px 15px; background: #6aa84f; border: none; cursor: pointer; -webkit-border-radius: 5px; border-radius: 10px;" onclick="window.location.href='/registration';">Registration</button><br>

<button style = "color: white; padding:5px 15px; background: #6aa84f; border: none; cursor: pointer; -webkit-border-radius: 5px; border-radius: 10px;" onclick="window.location.href='/therapist_registration';">Therapist Registration</button><br>

<h2>Institution Login</h2>
<button style = "color: white; padding:5px 15px; background: #6aa84f; border: none; cursor: pointer; -webkit-border-radius: 5px; border-radius: 10px;" onclick="window.location.href='/group_login';"> Institution Login </button>
<!h2><!Registration Options:</h2>
<!button style = "color: white; padding:5px 15px; background: #6aa84f; border: none; cursor: pointer; -webkit-border-radius: 5px; border-radius: 10px;" onclick="window.location.href='/registration';"> <!Registration</button><!br>
<!button style = "color: white; padding:5px 15px; background: #6aa84f; border: none; cursor: pointer; -webkit-border-radius: 5px; border-radius: 10px;" onclick="window.location.href='/group_registration';"><!Group Registration</button><!br>
<!button style = "color: white; padding:5px 15px; background: #6aa84f; border: none; cursor: pointer; -webkit-border-radius: 5px; border-radius: 10px;" onclick="window.location.href='/therapist_registration';"><!Therapist Registration</button><!br>

</body>

</html>