<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Therapist List</title>
    <link rel="stylesheet" href="http://localhost:3000/stylesheets/style.css">
  
</head>
<button style = "position: absolute; right: 100px;color: white; padding:5px 15px; background: #6aa84f; border: none; cursor: pointer; -webkit-border-radius: 5px; border-radius: 10px;" onclick="window.location.href='/appointment';">Schedule Appointment</button>         

<body>

<h1>Our Services</h1>


    <div class="row-poses">
    <div class="column-poses">

      <a class="appointment-img" id="appointment"><img src="http://localhost:3000/images/henry.png"></a>
      <p class='therapist-description'>Henry Defoe</p><hr>
      <p>1 hr </p>
      <p>$ 300</p> 

    </div>
     <div class="column-poses">
      <a class="appointment-img" id="appointment"><img src="http://localhost:3000/images/heather.png"></a>
      <p class='therapist-description'>Heather Palmer</p><hr>  
      <p>1 hr </p>
      <p>$ 200</p>              

    </div>
    <div class="column-poses">
    <a class="appointment-img" id="appointment"><img src="http://localhost:3000/images/alex.jpeg"></a>
      <p class='therapist-description'>Peter Griffith</p><hr>
      <p>1 hr </p>
      <p>$ 150</p> 
    </div>
     <div class="column-poses">
      <a class="appointment-img" id="appointment"><img src="http://localhost:3000/images/Sarah.png"></a>
      <p class='therapist-description'>Sarah Rafferty</p><hr>     
      <p>1 hr </p>
      <p>$ 100</p>       

    </div>
    </div>
    <br>
    <br>
<button style = "color: white; padding:5px 15px; background: #6aa84f; border: none; cursor: pointer; -webkit-border-radius: 5px; border-radius: 10px;" onclick="window.location.href='/journal';">Back</button>         

    </body>
    </html>
   
